@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,1,0");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-light text-foreground-light dark:bg-background-dark dark:text-foreground-dark;
    }
}

.searchResultScrollbar {
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 #32353b;
}

.searchResultScrollbar::-webkit-scrollbar-thumb {
    background-color: #32353b;
}

.searchResultScrollbar::-webkit-scrollbar-track {
    background-color: #e2e8f0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.table-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 #32353b;
}
